.page{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 80px 20px;
    background-color: yellowgreen;
    
}
.slider{
    min-width: 100vw;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}